@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/police/Roboto-Regular.ttf');
    src: url('fonts/police/Roboto-Regular.ttf') format('truetype');
    src: url('fonts/police/Roboto-Regular.eot') format('eot'),
    src: url('fonts/police/Roboto-Regular.svg') format('svg'),
    src: url('fonts/police/Roboto-Regular.woff') format('woff'),
}

body {
	width: 100%;
	margin: 0 auto;
	display: flex;
	font-family: Roboto-Regular, sans-serif;
	color: rgb(51,58,81);
}

aside{
	background-color: rgb(254,202,7);
	width: 20%;
}

.about p{
	padding: 30px 30px 30px 30px;
	margin: 0;
}

.contact p{
	padding-left: 10%;
}

.portrait{
	text-align: center;
}

h2{
	text-align: center;
	font-style: bold;
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 0;
}

aside h2{
	background-color: rgb(64,64,64);
	color: rgb(254,202,7);
}

span
{
	color: rgb(254,203,11);
}

page
{
	display: flex;
}

img
{
	border-radius: 50%;
}

.icons{
	display: flex;
	justify-content: space-around;
	padding: 15px;
}

i{
	border: 2px solid ;
	border-radius: 50%;
	padding: 0.3em;
}