@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/police/Roboto-Regular.ttf');
    src: url('fonts/police/Roboto-Regular.ttf') format('truetype');
    src: url('fonts/police/Roboto-Regular.eot') format('eot');
    src: url('fonts/police/Roboto-Regular.svg') format('svg');
    src: url('fonts/police/Roboto-Regular.woff') format('woff');
}

body {
	width: 75%;
	margin: 0 auto;
	display: flex;
	font-family: Roboto-Regular, sans-serif;
	color: rgb(51,58,81);
}

aside{
	background-color: rgb(254,202,7);
	width: 30%;
	position: relative;
}

.about p{
	padding: 30px 30px 30px 30px;
	margin: 0;
	text-align: justify;
}

.block p{
	text-align: justify;
}

.contact p{
	padding-left: 10%;
}

.portrait{
	text-align: center;
}

aside h2{
	background-color: rgb(64,64,64);
	color: rgb(254,202,7);
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 0;
}

span
{
	color: rgb(254,203,11);
	font-weight: bold;
}

img
{
	border-radius: 50%;
	border: solid 1px black;
}

.icons{
	display: flex;
	justify-content: space-around;
	padding: 15px;
}

.icons i{
	border: 2px solid ;
	border-radius: 50%;
	padding: 0.2em;
}

header h1{
	font-size: 3.0em;
	margin-bottom: 5px;
}

.main_h2{
	margin-bottom: 0;
}

.line{
	position: absolute;
	background-color: rgb(254,203,11);
	height: 2px;
	width: 5%;
}

article i{
	text-align: center;
	color: rgb(254,203,11);
	padding-right: 15px;
}

.date{
	display: flex;
}

.info{
	display: flex;
	padding-top: 45px;
}

.description{
	margin-left: 15%;
}

article header{
	border-bottom: 3px solid rgb(254,203,11);;
	padding-bottom: 0px;
	padding-left: 0px;
}

.home{
	padding: 5%;
}

.block{
	padding-top: 100px;
}

.home p{
	margin: 0;
}

.home h3{
	margin-top: 0;
}

.recommandations_block{
	display: flex;
	padding-top: 45px;
}

.recommandation_info{
	flex: 1;
}

.hobbies{
position: absolute;
bottom: 0;
width: 100%;
}

/* MEDIA QUERIES */

@media all and (max-width: 1280px) {

body {
	width: 100%;
}
	}

@media all and (max-width: 944px) {

	body{
		flex-direction: column;
	}

	aside{
		width: 100%;
	}

	.hobbies{
position: relative;
}

}